{%extends 'new/layout.html'%}

{%block body%}


<div id="navbar">
    
    <div><h1>Hello  {{request.user.email}}</h1></div>

   <div><a href="{% url 'logoutview'%}"><button>logout</button></a></div>
   <div><a href="{% url 'addtask'%}"><button>Addtask</button></a></div>
   <div><a href="{% url 'passwordchange'%}"><button>Change Password</button></a></div>
   <div><a href="{% url 'useredit'%}"><button>User Edit</button></a></div>

   <form method="Get">
    <input type="search" placeholder="search task" name="q">
    <input type="submit">
    
   </form>


</div>

<div id="outer">
 {% for task in tasks%}

 <div id="inner">

<div>{{task.taskname|upper}}</div>
<div><img src="{{task.taskimage.url}}" width="300px" height="300px"></div>
<div>{{task.abouttask}}</div>
<div>{{task.taskcreate}}</div>
<div>{{task.taskedit}}</div>
<div>{{task.taskusername.email}}</div><br>
<a href="{% url 'taskview' task.id %}"><button>View</button></a>
<a href="{% url 'taskedit' task.id %}"><button>Edit</button></a>
<a href="{% url 'taskdelete' task.id %}"><button>DELETE</button></a>

</div>
 {% endfor%}

</div>




{%endblock%}